.hour {
    line-height: 75px;
    align-items: center;
}

textarea {
    background-color: rgb(226, 223, 223);
    border: none;
    border-left: solid 1px black;
    border-right: solid 1px black;
    padding: 10px;
}

textarea:focus {
    outline-color: transparent;
    outline-style: none;
}

button {
    border-radius: 0px 10px 10px 0px;
    background-color: #06aed5;
    border-left: 2px;
    border: transparent;
}
.row {
    margin-top: 3px;
    border: transparent;
    height: 74px;
}

.hour {
    border-top:  1px dotted;
}

.jumbotron {
    border-bottom: black solid 5px;
    text-align: center;
    font-weight: bold;
}